$primary_dark: #393939;
$primary_light: #F7F7F7;

$primary_link_light: #AFAFAF;
$primary_link_dark: #E6E6E6;

$nav_link_color: #AFAFAF;
$nav_link_hover_color: #FFFFFF;
$nav_bg_hover_color: rgba(60, 25, 60, 1);

$header_background: rgba(5, 0, 5, 1);
$section_odd_background: rgba(30, 0, 50, 1);
$section_even_background: rgba(15, 0, 15, 1);
$footer_background: rgba(5, 0, 5, 1);