$primary_dark: #393939;
$primary_light: #F7F7F7;

$primary_link_light: #4E4E4E;
$primary_link_dark: #E6E6E6;

$header_background: rgba(5, 0, 5, 1);
$section_odd_background: rgba(30, 0, 50, 1);
$section_even_background: rgba(15, 0, 15, 1);
$footer_background: rgba(5, 0, 5, 1);